.color-footer {
  background-color: #274160;
}

.footer {
  color: white;
  font-weight: 300;
  height: 300px;
  a {
    color: white;
  }
  .row {
    margin-top: 100px;
  }
  .footer-dl {
    #ios {
      width: 160px;
    }
    #android {
      width: 160px;
    }
  }
  .social {
    .fa {
      color: white;
      font-size: 30px;
    }
  }
}
