#scrollUp {
  background-image: image-url("top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;    /* Width of image */
  height: 38px;   /* Height of image */
  background-repeat: no-repeat;
}

.home-bg {
  background-image: image-url("hero_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-slide {
  height: 600px;
  color: white;
  text-align: center;
  .first-slide-text {
    margin-top: 132px;
    @media (max-width: 641px) {
        margin-top: 80px;
      }
    h1 {
      font-weight: 300;
      font-size: 60px;
    }
    .btn {
      font-weight: 300;
      margin-top: 30px;
      padding: 13px 50px;
      font-size: 20px;
    }
    #find-jobs {
      margin-right: 50px;
      @media (max-width: 465px) {
        margin-right: 0;
      }
    }
    p {
      font-weight: 100;
      font-size: 24px;
    }
  }
}

.transparent{
  background: rgba(1, 1, 1, 0.6);
}

#sign-up-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 6px;
  border: none;
  border-radius: 5px;
  &:hover, &:focus, &:active {
    background-color: #469AE0;
  }
}

#login-btn {
  &:hover, &:focus, &:active, &:visited {
    background: none;
  }
}

.light-menu {
  background-color: rgba(1,1,1,0.25);
  border-radius: 5px;
  width: 92px;
  min-width: 0;
}

#user-home-link {
  padding-left: 28px;
  &:hover {
    background-color: rgba(1,1,1,0.15);
  }
}

#company-home-link {
  padding-left: 13px;
  &:hover {
    background-color: rgba(1,1,1,0.15);
  }
}

.download-app {
  color: white;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  @media (max-width: 430px) {
    margin-top: 41px;
    #ios {
      width: 100px;
    }
    #android {
      width: 100px;
    }
    #dl-app {
      display: none;
    }
  }
  #ios {
    width: 130px;
  }
  #android {
    width: 130px;
  }
}

// subscribe box

.newsletter {
  background: rgba(1, 1, 1, 0.5);
  margin-top: 62px;
  h2 {
    font-weight: 100;
  }
  input#email_name {
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 14px;
  }
  span {
    font-size: 18px;
  }
  #submit-mail {
    margin-top: 10px;
  }
  p {
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 3px;
    color: rgba(221, 221, 221, 0.87);
  }
}

