#homepage-nav {
  margin-bottom: 0;
  border: none;
  background: transparent;
  padding-top: 30px;
  .navbar-nav li a {
    color: white;
  }
  #seal-logo {
    max-width: 170px;
  }
}

#main-nav {
  #seal-logo {
    max-width: 170px;
  }
}

@media (max-width: 767px) {
  #seal-logo {
    margin-left: 30px;
  }
}
